


.login-header{
    font-family: Arial, sans-serif;
}
.login-header h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
  }
  
  .login-header p {
    text-align: center;
    font-size: 14px;
    color: #666;
  }
/* Divider */
.divider {
    text-align: center;
    margin: 20px 0;
    font-size: 12px;
    color: #999;
    position: relative;
  }
  
  .divider:before,
  .divider:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 45%;
    height: 1px;
    background: #ddd;
  }
  
  .divider:before {
    left: 0;
  }
  
  .divider:after {
    right: 0;
  }
.btnLogin{
    width: 100%;
  padding: 12px;
  background-color: #0056b3;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.btnLoginwithGoogle{
    width: 100%;
  padding: 12px;
  background-color: #db4437;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.btnLoginwithGoogle:hover {
    background-color: #c23321;
}