.login-header{
    font-family: Arial, sans-serif;
}
.login-header h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
  }
  
  .login-header p {
    text-align: center;
    font-size: 14px;
    color: #666;
  }
.formRegister{
    height: 50%;
}
.datePicker{
    width: 100%;
}